asn1crypto==0.24.0
Babel==2.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
Django==1.11
django-background-tasks==1.1.13
django-compat==1.0.15
django-phonenumber-field==2.0.0
idna==2.7
nexmo==2.1.0
phonenumberslite==8.9.7
pycparser==2.18
PyJWT==1.6.4
pytz==2018.4
requests==2.19.1
six==1.11.0
urllib3==1.23
