{% load static %}

<!DOCTYPE html>
<html>

<head>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel = "stylesheet"
     href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %} {% endblock %}</title>

    <style>
        .brand-logo p{
            font-size: 30px;
            margin-top: -1px;
            margin-left: 5px;
        }
    </style>
    {% block style %}
    {% endblock %}


</head>

<body>

    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
              &nbsp;<a href="#" class="brand-logo"><p>Notification System</p></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="">About</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </nav>
    </div>


    {% block main %}
    {% endblock %}

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">SMS based Notification System</h5>
                <p class="grey-text text-lighten-4">We are here to make your life easy.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Help Us Improve</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Donate Us!</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Punjab Engineering College
            <a class="grey-text text-lighten-4 right" href="#!">Social links will come here</a>

            </div>
          </div>
    </footer>

    {% block js %}
    {% endblock %}



</body>
</html>