<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<title>
Contact Us</title>
<style>
</style>
</head>
<body>
     <div class="w3-bar w3-border w3-black">
  <a href="main.html" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-large ">Home</a>
  <a href="About.html" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-large w3-hide-small">About</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-large w3-hide-small ">Register</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="Student_SignUp.html" class="w3-bar-item w3-button">Student</a>
      <a href="#" class="w3-bar-item w3-button">Faculty</a>
    </div>
  </div>
		 <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-large w3-hide-small ">Login</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button">Student</a>
      <a href="#" class="w3-bar-item w3-button">Faculty</a>
    </div>
  </div>

  <a href="contact_Us.html" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-large w3-hide-small">Contact Us</a>
   <a href="#" class="w3-bar-item w3-button w3-black w3-right w3-large w3-hide-small">Go</a>
  <input type="text" class="w3-bar-item w3-input w3-right w3-large w3-hide-small" placeholder="Search..">
</div>
	<br>
	
	<div class="w3-card w3-display-middle" style="border-radius:20px;outline:solid">
		<img src="../static/Images/img_4.jpg" width="300" height="300">
		<h2 class="w3-wide">GUNEET BAJAJ</h2>
		<p class>Contact No:- +91-8427872172<br>Email:-guneetbajaj2099@gmail.com</p>
	</div>
	<div class= "w3-card-4 w3-display-left" style="margin-left: 20px; border-radius:20px;outline:solid">
		<img src="img_5.jpg" width="300" height="300">
		<h2 class="w3-wide">SHREYA GARG</h2>
		<p class>Contact No:- +91-9417814157<br>Email:-shreyagrg09@gmail.com</p>
	</div>
	<div class="w3-card-4 w3-display-right" style="margin-right :20px;vborder-radius:20px;outline:solid">
		<img src="../static/Images/img_6.jpg" width="300" height="300">
		<h2 class="w3-wide">MADHAV PRUTHI</h2>
		<p class>Contact No:- +91-8360067850<br>Email:-madhavpruthi0@gmail.com</p>
	</div>
</body>
</html>