@import url('https://fonts.googleapis.com/css?family=Rubik');

#main1,#main2
{
    height:500px;
    width: 450px;
    box-shadow: 0 0 0 30px rgba(255,255,255,.2);
    background-color: white;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(0deg);
}
#form1,#form2
{
    height:500px;
    width: 350px;
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
}

/* label color */
   .input-field label {
     color: #000;
       border-bottom-width: 30px;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

   #form1 h4,#form2 h4{
    font-weight: bold;
    color: #e84a5f;
}

#form1 h5,#form2 h5{

    color: #ff847c;
    position: relative;
    padding-bottom: 13px;
    margin-top: -15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 8px;
    left: 28%;
    font-size: 22px;
}
   .parallax1 {
    /* The image used */

    background-image: url('../Images/landscape.jpg');

    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   #main1,#form1{
    -webkit-backface-visibility:hidden;
    -webkit-animation-duration:2s;
}

   #main2,#form2{
    -webkit-backface-visibility:hidden;
    -webkit-transform:translate(-50%,-50%) rotateY(180deg);
    -webkit-animation-duration:2s;
}

@-webkit-keyframes showfaculty{
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100%{transform: translate(-50%,-50%) rotateY(180deg);}
}
@-webkit-keyframes hidestudent{
    0%{transform: translate(-50%,-50%) rotateY(180deg);}
    100%{transform: translate(-50%,-50%) rotateY(0deg);}
}
@-webkit-keyframes showstudent{
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100%{transform: translate(-50%,-50%) rotateY(180deg);}
}
@-webkit-keyframes hidefaculty{
    0%{transform: translate(-50%,-50%) rotateY(180deg);}
    100%{transform: translate(-50%,-50%) rotateY(0deg);}
}

