{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
{% endblock %}

{% block main %}
<br>
<div id="f1_container" class="center">
 <div id="f1_card" class="w3-card-4 w3-display-middle">
     <div class="front face">
<div class="w3-container">
    <img  src="{% static 'Images/img_4.jpg' %}"  width="300" height="300">
    <footer class="w3-container w3-blue">
        <h4>GUNEET BAJAJ</h4>
    </footer>
    </div>
         </div>
     <div class="back face center w3-white">
        <h4>GUNEET BAJAJ</h4>
        <h5>Contact No:- +91-8427872172<br>Email:-guneetbajaj2099@gmail.com</h5>

         </div>


	</div>
</div>
<div id="f2_container" class="left">
<div  id="f2_card" class= "w3-card-4 w3-display-left" style="margin-left: 20px; ">
    <div class="front face">
    <div class="w3-container">
		<img src="{% static 'Images/img_5.jpg' %}" width="300" height="300">

    <footer class="w3-container w3-blue">
		<h3>SHREYA GARG</h3>
    </footer>
        </div>
        </div>
        <div class="back face center w3-white">
            <h3>SHREYA GARG</h3>
        <h5>Contact No:- +91-9417814157<br>Email:-shreyagrg09@gmail.com</h5>
        </div>

	</div>
</div>
<div id="f3_container" class="right">
	<div id="f3_card" class="w3-card-4 w3-display-right" style="margin-right :20px">
        <div class="front face">
        <div class="w3-container">
		<img src="{% static 'Images/img_6.jpg' %}"   width="300" height="300">
        <footer class="w3-container w3-blue">
		<h3>MADHAV PRUTHI</h3>

            </footer>
        </div>
    </div>
    <div class="back face center w3-white">
        <h3>MADHAV PRUTHI</h3>
            <h5>Contact No:- +91-8360067850<br>Email:-madhavpruthi0@gmail.com</h5>
    </div>
	</div>
</div>
</div>

{% endblock %}