{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">

{% endblock %}

{% block main %}


    <div class="container-fluid">
        <div class="row center-align teal lighten-2">
            <div class="col s4 offset-s4">
                <div class="card-panel transparent">

                <a style="margin-right: 10px " class="waves-effect waves-light btn-large green accent-2"><i class="material-icons left">account_circle</i>LOGIN</a>
                <a class="waves-effect waves-light btn-large amber accent-2" href="signup"><i class="material-icons right">add_circle_outline</i>SIGN UP</a>
                <h4 id="maintext1">GET INTO IT</h4>

                </div>
            </div>
        </div>
    <div class="parallax1"></div>

    <div class="card-panel center-align teal lighten-2">
        <div class="text-success" id="text1">

        Notification-System is a project which will help faculty to intimidate students about any important information
        like Schedule Changes, any upcoming seminar and other information. This information will be shared through SMS.

        </div>
    </div>

    <div class="parallax2"></div>
    </div>


{% endblock %}
