{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'css/SignUpForm.css' %}">

{% endblock %}

{% block main %}
<div id="main1">
<div class="row">
     <div id="form1">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label class="active" for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        <div class="input-field col s6">
          <input id="contact_number" type="tel" class="validate">
          <label for="contact_number">Contact</label>
        </div>
        <div>
      <div class="row">
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Year</a>
  <ul id='dropdown1' class='dropdown-content'>
    <li>one </li>
    <li>two</li>
    <li>three</li>
    <li>four</li>
  </ul>
    </div>
            </div>
        <div class="row">
    <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Courses</a>
    </div>
     <br>

                <button class="btn waves-effect waves-light btn-large" type="submit" name="action">SignUp
                    <i class="material-icons right">send</i>
                </button>
        <p class="text-muted center-align">Staff Member? <a id="fliptofaculty" style="cursor: pointer">Go Here</a> </p>
    </form>
</div>

</div>

  </div>
<div class="parallax1"></div>
<div id="main2">
<div class="row">
     <div id="form2">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label class="active" for="name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="psd" type="password" class="validate">
          <label for="psd">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="ID" type="email" class="validate">
          <label for="ID">Email</label>
        </div>
      </div>
        <div class="input-field col s6">
          <input id="contact" type="tel" class="validate">
          <label for="contact">Contact</label>
        </div>
        <div>
      <div class="row">
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Position</a>
  <ul id='drop1' class='dropdown-content'>
    <li>one </li>
    <li>two</li>
    <li>three</li>
    <li>four</li>
  </ul>
    </div>
            </div>
     <br>

                <button class="btn waves-effect waves-light btn-large" type="submit" name="action">SignUp
                    <i class="material-icons right">send</i>
                </button>
        <p class="text-muted center-align">Student? <a id="fliptostudent" style="cursor: pointer">Go Here</a> </p>

    </form>
</div>

</div>

  </div>
<div class="parallax1"></div>
{% endblock %}

{% block js %}
<script src="{% static 'js/SignUporm.js' %}"></script>
{% endblock %}

